2023_all_client_commision.csv
2023_all_client_fees.csv     
2023_all_client_fees.xlsx    
BO_ChecksUpdate.csv
CMS_Perfectmoney.png
commisions.csv
commisions.xlsx
Commision_BO_ChecksUpdate.csv
data.csv
data.xlsx
files.py
GPS_PS_Names.csv
Group_data.csv
Output_BO_ChecksUpdate.csv
payment_solution_type_volume.csv
perfectmoney.xlsx
Perfectmoney_merchant.png
perfectmoney_myfxtm.png
Questionnaire.md
solution_type.csv
Withdrawal_fees.sqlite
venv